.car_div,.user_div,.reservation_div,.car_status_div,.payment_div{
    display: flex;
    flex-direction: row;
    background-color:#eeeeee;
    border: solid transparent 1px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
.car_img,.user_img,.car_status_img{
    width: 16rem;
    height: 10rem;
}
.car_div > div ,.user_div > div,.reservation_div > div,.car_status_div > div .payment_div > div{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.reservation_div > div{
    padding: 1%;
}
.car_div .car_label,.user_div .user_label,.car_status_div .car_status_label,.payment_div .payment_label{
    font-size: 2rem;
    font-weight: bold;
}
.reservation_div .reservation_label{
    font-size: 120%;
    font-weight: bold;
}
.car_div .car_label_value,.user_div .user_label_value,.car_status_div .car_status_label_value,.payment_div .payment_label_value{
    font-size: 1.5rem;
}
.reservation_div .reservation_label_value{
    font-size: 120%;
}
.car_action,.user_action,.reservation_action .status_action{
    height: 3rem;;
    font-size: 1.3rem;
    font-weight: bold;
}