@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
*{
    box-sizing: border-box;
    padding:0;
    margin:0;
  }
  body{
    background-color: #F9F9F9;
    font-family: 'Ubuntu', sans-serif;
  }
  input[type=button]{
    font-family: 'Ubuntu', sans-serif;
    font-size: medium;
  }
  input[type=text]{
    font-family: 'Ubuntu', sans-serif;
    font-size: medium;
  }
.searchwith3buttons{
    margin:auto;
    width:50%;
}
#mainsearch{
    display:block;
    width:75%;
    margin:auto;
    margin-bottom: 0rem;
    height:3rem;
}
#searchbuttonsdiv{
    width:70%;
    margin:auto;
}
.searchbuttons{
    width:32%;
    height:3rem;
    background-color: rgb(18, 34, 57);;
    border-style:none ;
    border-radius: 0.2rem;
    cursor: pointer;
    color: white;
}
#firstfourbutns{
    width:95%;
    margin: auto;
}
.foursearch{
    width:24%;
    height:3rem;
    background-color: rgb(18, 34, 57);;
    border-style:none ;
    border-radius: 0.2rem;
    cursor: pointer;
    text-align: center;
    color:white;
}
#fooall{
    position:fixed;
    width:100%;
    bottom:0;
    display: grid;
    grid-template-columns: auto 80% auto;
    grid-template-areas: 'm x n';
    background-color: black;
}
#results{
    border-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#hidden_forms > div{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    align-items: center;
}
form{
    position: absolute;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    top:20%;
    width:100%;
    margin: auto;
    background-color: #F9F9F9;
    font-size: 1.1rem;
    font-weight: bold;
    min-width: 450px;
    overflow:auto;
    border-width: 5px;
    border-radius: 10px;
    border: solid transparent;
}
.formdiv{
    margin:auto;
    padding-bottom: 1.5rem;
}
.formbtn{
    display: block;
    margin-top: 1rem;
    padding: 0.3em;
}
.close{
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 0.2em;
    margin-left: 0.2em;
    background: url(../icons/x_icon.svg) no-repeat top left;
    display: block;
    width: 2em;
    height: 2em;
    background-size: contain;
    cursor: pointer;
    border: none;
}
