@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
#bg {
  background-image: url('../Blue Red Minimalist Modern Automotive Youtube Channel Art.jpg');
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}

body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  font-family: 'Ubuntu', sans-serif;  color: #eff2e9;
  min-height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#loginform{
  top: 200px;
  grid-column: 3;
}


form {
  width: 350px;
  position: relative;
}
form .form-field::before {
  font-size: 20px;
  position: absolute;
  left: 20px;
  top: 17px;
  color: #121212;
  content: " ";
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
}

form .form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 1rem;
  position: relative;
}
.fields{
  font-family: 'Ubuntu', sans-serif;  width: 100%;
  outline: none;
  background-image: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #ffffff 100%);  border: none;
  display: block;
  padding: 0.9rem 0.7rem;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  font-size: 17px;
  color: #4A4A4A;
  text-indent: 40px;
}
.buttons{
  align-items: center;
  border: 0;
  border-radius: 8px;
    box-sizing: border-box;
  color: #FFFFFF;
  background-image:linear-gradient(62deg, #e7986a 0%, #d27122 100%);
  display: flex;
  font-family: 'Ubuntu', sans-serif;  font-size: 15px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.buttons span{
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.buttons:active,
.buttons:hover {
  outline: 0;
  background-image:linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);

}

.buttons:hover span {
  background: none;
}

@media (min-width: 768px) {
  .buttons {
    font-size: 24px;
    min-width: 196px;
  }
}

form .btn {
  outline: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  margin: 0 auto;
  padding: 0.9rem 2.5rem;
  text-align: center;
  background-color: #47AB11;
  color: #fff;
  border-radius: 4px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  font-size: 17px;
}

label {

  font-family: 'Ubuntu', sans-serif;  font-size: 1.0625rem;
  font-weight: 900;
  letter-spacing: 0.05rem;
  font-style: normal;
  text-transform: capitalize;
  color: #ffffff;
  border-radius: 0.125rem;
  -webkit-border-radius: 0.125rem;
  -moz-border-radius: 0.125rem;
  padding: 0.375rem 0.4rem;
  
  }

  